<ion-page>
  <ion-header *ngIf="showHeader">
    <ion-toolbar>
      <ion-title *ngIf="title">{{ title }}</ion-title>
      <ion-buttons slot="end">
        <ng-content select="[slot=header-actions]"></ng-content>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="page-shell__content">
    <ng-content></ng-content>
  </ion-content>

  <ion-footer *ngIf="showFooter" class="page-shell__footer">
    <ng-content select="[slot=footer]"></ng-content>
  </ion-footer>
</ion-page>
